$main-font: "IM Fell English";
$dark-grey: #373737;
$light-grey: #585455;
$green: #71b4a2;
$red: #885e6c;
@import url(http://fonts.googleapis.com/css?family=Josefin+Slab);

html {
	height: 100%;
}
.page { 
	//bottom:0; 
	position:absolute; 
	top:0;  
	width:100%; 
	height: 100%;
	//z-index: -1;
}


body { 
  //background: url(../images/background.svg) no-repeat center center fixed;
  //background: url(https://ununsplash.imgix.net/photo-1416431168657-a6c4184348ab?q=75&fm=jpg&s=20ba248730c200af0d30c9ba81854867) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

a {
	color: #fff;
}

p{
	font-family: 'Josefin Slab', serif !important;
}

.homecontainer{
	@include container-fixed();
	margin-top: 15px;

	.badge_container {
		width: 100%;
		height: auto;
		margin: 0px auto;
		background: rgba(33,33,33,.9);
		text-align: center;
		height: 350px;
		border-radius: 20px;
		padding: 40px;
		div {
			font-family: 'IM Fell English', serif;
			color: #fff;
			display: block;
			img {
				max-width: 150px;
			}
			width: 33%;
			float: left;
			margin: 0px auto;
			display: block;
		}
	}
	.start_container {
		@include clearfix();
		border-radius: 4px;
		background-color: rgba(33, 33, 33, 0.9);
		text-align: center;
		font-family: "IM Fell English";
		padding: 28px 55px;
		margin-bottom: 5px;
		box-shadow: inset 0 0 0 8px rgba(33, 33, 33, 0.9), inset 0 0 0 11px gray;
		h1 {
			font-size: 2.7em;
			color: #fff;
			line-height: 40px;
		}
		p {
			color: #fff;
			position: relative;
			bottom: 10px;
		}
		a {
			font-size: 2.5em;
			padding: 0px 80px;
			background-image: radial-gradient(50% 154%, #017B98 51%, #3d7da0 100%);
			box-shadow: 0px 3px 0px 0px #1C1C1C;
			border-radius: 8px;
		}
	}
}

.card-container{
	@include make-md-column(3);
	padding: 15px;
	.card{
		padding: 30px 7px;
		opacity: 0.89;
		background: #F4F4F4;
		box-shadow: 0px 2px 7px 0px rgba(0,0,0,0.50);
		border-radius: 10px;
		text-align: center;
		h3{
			font-family: "IM Fell English";
			font-size: 1.4em;
			margin-top: 12px;
			margin-bottom: 0;
		}
		p{
			font-size: 1em;
			padding: 0 10px;
			text-align: left;
			margin-bottom: 1.8em;
		}
		a{
			background: #1EAD71;
			box-shadow: 0px 3px 0px 0px #1C1C1C;
			border-radius: 8px;
			padding: 10px 20px;
			h4{
				display: inline;
				margin: 0;
				font-size: 17px;
				color: #FFFFFF;
				line-height: 21px;
				text-shadow: 0px 2px 0px rgba(0,0,0,0.50);
			}
		}
	}


}
.banner{
	background: #373737;
	padding: 15px;
	box-shadow: inset 0 0 0 6px rgba(33, 33, 33, 0.9), inset 0 0 0 9px rgb(240, 240, 240), inset 0 0 0 13px rgba(33, 33, 33, 0.9), inset 0 0 0 14px white;
	width: 50%;
	
	text-align: center;
	color: #fff;
	font-family: 'Josefin Slab', serif;
	margin-bottom: 20px;
	@include clearfix();
	h3{
		.lg-title{
			font-size: 1.4em;
		}
	}
	/*background: url(../images/banner.png) no-repeat;
	padding: 70px;
	margin-bottom: 20px;
	color: #1B1B1B;*/
}


/*.banner {
	font-family: 'IM Fell English', serif;
	top: 0;
	background-color: #373737;
	height: 85px;
	display: block;
	position: relative;
	border: 3px solid #fff;
	z-index: 2;
	max-width: 700px;
	padding: 0px 10px;
	h1 {
		color: #fff;
		text-align: center;
	}
}
*/

section{
	@include clearfix();
}

#tubular-container {
	z-index: -99 !important;
}
#tubular-shield {
	z-index: -99 !important;
}
.voyage_content {
	font-family: 'IM Fell English', serif;
	display: block;
	width: 100%;
	margin: 0px auto;
	color: #fff;
	background: rgba(33,33,33,.9);
	float: right;
	padding: 20px 35px;
	height: 50%;
	margin-top: 220px;
}

* {
  @include box-sizing(border-box);
}
*:before,
*:after {
  @include box-sizing(border-box);
}

//interior
/* nav.timeline {
	margin: 0px auto;
	width: 100%;
	@include clearfix();
	ul {
		@include make-md-column(12);
		.activelink {
			a {
				background-color: $green;
			}
		}
		.activepage {
			font-family: "IM Fell English";
			display: inline-block;
			border-radius: 120px;
			padding: 32px 7px;
			position: relative;
			width: 105px;
			height: 105px;
			font-size: 1em;
			text-align: center;
			bottom: 40px;
			background-color: #585455;
			border: 4px solid #fff;
			color: #fff;
			text-transform: capitalize;
		}
		list-style-type: none;
		a {
			width: 25px;
			height: 25px;
			background-color: $red;
			border-radius: 100px;
			display: block;
			margin-right: 20px;
			border: 4px solid #fff;
			float: left;
			&:hover {
				background-color: $green;
			}
		}
	}
} */

nav.timeline{
	@include make-md-column(12);
	@include clearfix;
	padding-left: 0 !important;
	background: rgba(102, 102, 102, 0.35);
	margin-bottom: 35px;
	.timeline-title{
		font-family: "IM Fell English";
		@include make-md-column(2);
		color: #fff;
		background: rgba(33,33,33,.9);
		border-radius: 3px;
		text-align: center;
		padding: 12px;
		h2{
			margin: 0;
		}
		
	}
	.timeline-nav{
		@include make-md-column(10);
		ul{
			margin: 0;
			padding: 9px;
			li {
			  width: 1.5em; 
			  
			  margin: 6px -5px;
			  display: inline-table;
			  
			}

			li::before{
			  content: '';
			  position: absolute;
			  top: .6em;
			  left: -1em;
			  width: 2.5em;
			  height: .3em;
			  background: white;
			  z-index: -1;
			}


			li:first-child::before {
			  display: none;
			}

			.active {
			  background: dodgerblue;
			}

			.active ~ li {
			  background: lightblue;
			}

			.active ~ li::before {
			  background: lightblue;
			}

			a {
				width: 25px;
				height: 25px;
				background-color: $red;
				border-radius: 100px;
				display: block;
				margin-right: 20px;
				border: 4px solid #fff;
				float: left;
				&:hover {
					background-color: $green;
				}
			}
			.activepage {
				font-family: "IM Fell English";
				display: inline-block;
				border-radius: 120px;
				padding: 32px 7px;
				position: relative;
				width: 105px;
				height: 105px;
				font-size: 1em;
				text-align: center;
				bottom: 40px;
				background-color: #585455;
				border: 4px solid #fff;
				color: #fff;
				text-transform: capitalize;
			}
		}
		
	}
	
}

.page-maldonado .title-title h1 {
	position: relative;
	right: 20px;
}

nav.timeline .timeline-nav ul .activelink a {
	background-color: $green;
}

@media only screen and (max-width: 648px) {
	.banner {
		
		@include clearfix();
		h1 {
			font-size: 1.2em;
		}
	}
}

.page-home 		{ /*background video*/ }
.page-peru 	{ 
	background: url('../images/capeverdbg.jpg') no-repeat center center fixed; 
	background-size: cover;
	min-width: 100%;
  	min-height: 100%;
  	overflow: auto;
  	z-index: 1; 
 }
.page-sc {
	background: url('../images/capeverdbg.jpg') no-repeat center center fixed; 
	background-size: cover;
	min-width: 100%;
  	min-height: 100%;
  	overflow: auto;
  	z-index: 1;
}
.page-capeverd  { 
	background: url('../images/capeverdbg.jpg') no-repeat center center fixed; 
	background-size: cover;
	min-width: 100%;
  	min-height: 100%;
  	overflow: auto;
  	z-index: 1;
}
.page-australia {
	background: url('../images/capeverdbg.jpg') no-repeat center center fixed; 
	background-size: cover;
	min-width: 100%;
  	min-height: 100%;
  	overflow: auto;
  	z-index: 1;
}
.page-bahiablanca {
	background: url('../images/pages/bahiabg.jpg') no-repeat center center fixed; 
	background-size: cover;
	min-width: 100%;
  	min-height: 100%;
  	overflow: auto;
  	z-index: 1;
}
.page-bandaoriental {
	background: url('../images/pages/bandabg.jpg') no-repeat center center fixed; 
	background-size: cover;
	min-width: 100%;
  	min-height: 100%;
  	overflow: auto;
  	z-index: 1;
}
.page-buenosayres {
	background: url('../images/pages/buenosbg.jpg') no-repeat center center fixed; 
	background-size: cover;
	min-width: 100%;
  	min-height: 100%;
  	overflow: auto;
  	z-index: 1;
}
.page-chile {
	background: url('../images/capeverdbg.jpg') no-repeat center center fixed; 
	background-size: cover;
	min-width: 100%;
  	min-height: 100%;
  	overflow: auto;
  	z-index: 1;
}
.page-chiloe {
	background: url('../images/capeverdbg.jpg') no-repeat center center fixed; 
	background-size: cover;
	min-width: 100%;
  	min-height: 100%;
  	overflow: auto;
  	z-index: 1;
}
.page-concepcion {
	background: url('../images/capeverdbg.jpg') no-repeat center center fixed; 
	background-size: cover;
	min-width: 100%;
  	min-height: 100%;
  	overflow: auto;
  	z-index: 1;
}
.page-coral {
	background: url('../images/capeverdbg.jpg') no-repeat center center fixed; 
	background-size: cover;
	min-width: 100%;
  	min-height: 100%;
  	overflow: auto;
  	z-index: 1;
}
.page-cordillera {
	background: url('../images/capeverdbg.jpg') no-repeat center center fixed; 
	background-size: cover;
	min-width: 100%;
  	min-height: 100%;
  	overflow: auto;
  	z-index: 1;
}
.page-falklandislands {
	background: url('../images/capeverdbg.jpg') no-repeat center center fixed; 
	background-size: cover;
	min-width: 100%;
  	min-height: 100%;
  	overflow: auto;
  	z-index: 1;
}
.page-galapagos {
	background: url('../images/capeverdbg.jpg') no-repeat center center fixed; 
	background-size: cover;
	min-width: 100%;
  	min-height: 100%;
  	overflow: auto;
  	z-index: 1;
}
.page-maldonado {
	background: url('../images/pages/maldonadobg.jpg') no-repeat center center fixed; 
	background-size: cover;
	min-width: 100%;
  	min-height: 100%;
  	overflow: auto;
  	z-index: 1;
}
.page-mauritius {
	background: url('../images/capeverdbg.jpg') no-repeat center center fixed; 
	background-size: cover;
	min-width: 100%;
  	min-height: 100%;
  	overflow: auto;
  	z-index: 1;
}
.page-patagonia {
	background: url('../images/capeverdbg.jpg') no-repeat center center fixed; 
	background-size: cover;
	min-width: 100%;
  	min-height: 100%;
  	overflow: auto;
  	z-index: 1;
}
.page-riodejaneiro {
	background: url('../images/pages/rio.jpg') no-repeat center center fixed; 
	background-size: cover;
	min-width: 100%;
  	min-height: 100%;
  	overflow: auto;
  	z-index: 1;
}
.page-rionegro {
	background: url('../images/pages/rionegrobg.jpg') no-repeat center center fixed; 
	background-size: cover;
	min-width: 100%;
  	min-height: 100%;
  	overflow: auto;
  	z-index: 1;
}
.page-santacruz {
	background: url('../images/pages/santacruzbg.jpg') no-repeat center center fixed; 
	background-size: cover;
	min-width: 100%;
  	min-height: 100%;
  	overflow: auto;
  	z-index: 1;
}

.page-start {
	background: url('../images/pages/startbg.jpg') no-repeat center center fixed; 
	background-size: cover;
	min-width: 100%;
  	min-height: 100%;
  	overflow: auto;
  	z-index: 1;
}
.page-straitofmagellan {
	background: url('../images/capeverdbg.jpg') no-repeat center center fixed; 
	background-size: cover;
	min-width: 100%;
  	min-height: 100%;
  	overflow: auto;
  	z-index: 1;
}
.page-tahiti {
	background: url('../images/capeverdbg.jpg') no-repeat center center fixed; 
	background-size: cover;
	min-width: 100%;
  	min-height: 100%;
  	overflow: auto;
  	z-index: 1;
}
.page-tierradelfuego {
	background: url('../images/capeverdbg.jpg') no-repeat center center fixed; 
	background-size: cover;
	min-width: 100%;
  	min-height: 100%;
  	overflow: auto;
  	z-index: 1;
}



img.white-circle {
	border-radius: 50%;
	max-width: 120px;
	display: inline-block;
	border: 4px solid #fff;
	min-width: 120px;
	min-height: 120px;
}

img.grey-circle {
	border-radius: 50%;
	border: 6px solid grey;
	max-width: 150px;
	display: inline-block;
	min-width: 150px;
	max-height: 150px;
	min-height: 150px;
}

.container_int_1 {
	@include make-md-column(12);
	@include clearfix();
	
	
	p {
		line-height: 25px;
	}
	.left_1 {
		@include make-md-column(4);
	}

	.right_1 {
		@include make-md-column(8);
		.quote_1 {
			background-color: #885e6c;
			padding: 8px 39px;
			border-radius: 8px;
			margin-bottom: 30px;
			p {
				font-size: 1.3em;
				color: #fff;
			}
		}
		.passage_1 {
			@include clearfix();
			.p1-image{
				@include make-md-column(4);

			}
			.p1-text{
				@include make-md-column(8);
				background: $light-grey;
				border-radius: 8px;
				padding: 5px 22px;
			}
		}
	}

	padding: 0 40px;
	font-family: $main-font;
	color: #fff;
	.titlecard {
		box-shadow: inset 0 0 0 5px rgba(33, 33, 33, 0.9), inset 0 0 0 7px #f0f0f0, inset 0 0 0 13px rgba(33, 33, 33, 0.9), inset 0 0 0 13px white;
		background-color: $dark-grey;
		position: relative;
		
		//bottom: 30px;
		padding: 18px 15px;
		.title-img{
			@include make-md-column(6);	
		}
		.title-title{
			@include make-md-column(6);
		}
		h1 {
			text-align: center;
			margin: 0;
		}
		hr {
			margin: 18px 0;
		}

	}
}

.container_int_2 {
	@include make-md-column(12);
	@include clearfix();
	
	
	//padding: 0 40px;
	font-family: "IM Fell English";
	color: #fff;
	margin-top: 27px;
	p {
		line-height: 25px;
	}
	.left_2 {
		@include make-md-column(6);
		clear: both;
		p {
			background-color: #373737;
			position: relative;
			border-radius: 7px;
			padding: 25px 30px;
		}
	}
	.right_2 {
		@include make-md-column(6);
		
		.p2-img-1{
			@include make-md-column(6);
		}
	}
}

footer.int_footer {
	box-shadow: inset 0 0 0 8px rgba(33, 33, 33, 0.9), inset 0 0 0 9px rgb(240, 240, 240), inset 0 0 0 13px rgba(33, 33, 33, 0.9), inset 0 0 0 14px white;
	background-color: #272727;
	color: #fff;
	margin: 10px 0px;
	font-family: "IM Fell English";
	//width: 1150px;
	@include make-md-column(12);
	padding: 40px 0px 28px 0px;
	.fact-container{
		@include make-md-column(7);
		.fact-img{
			@include make-md-column(3);
			img {
				border-radius: 50%;
				border: 4px solid #fff;
				max-width: 110px;
				display: inline-block;
			
				margin-right: 20px;
				vertical-align: middle;
			}
		}
		.fact{
			@include make-md-column(9);
			h5 {
				font-size: 1.3rem;
				margin: 0;
			}
			p {

				max-width: 450px;
			}

		}

	}
	.nextup {
		@include make-md-column(5);
		h5 {
			@include make-md-column(6);
			font-size: 1.9rem;
			padding: 0;
			margin: 0;
			padding: 25px 0px;
		}
		.next-btn{
			@include make-md-column(6);
			padding: 49px 30px;
			a {
				
				background-color: #1daf71;
				border-radius: 5px;
				font-size: 1.5rem;
				position: relative;
				font-weight: bold;
				display: inline-block;
				padding: 5px 15px;
				
			}
		}
		
	}
}



/* ANIMATIONS
============================================================================= */

.page.ng-leave 	{ z-index:9999; }
.page.ng-enter 	{ z-index:8888; }

/* page specific animations ------------------------ */

.page-home.ng-leave         {
    -webkit-transform-origin: 0% 0%;
	-webkit-animation: rotateFall 1.5s both ease-in;
	-moz-transform-origin: 0% 0%;
	-moz-animation: rotateFall 1.5s both ease-in;
	transform-origin: 0% 0%;
	animation: rotateFall 1.5s both ease-in;
}
.page-home.ng-enter 		{  
    -webkit-animation:scaleUp 1.5s both ease-in;
	-moz-animation:scaleUp 1.5s both ease-in;
	animation:scaleUp 1.5s both ease-in;    
}

.page-capeverd.ng-leave      {
    -webkit-transform-origin: 0% 0%;
	-webkit-animation: rotateFall 1.5s both ease-in;
	-moz-transform-origin: 0% 0%;
	-moz-animation: rotateFall 1.5s both ease-in;
	transform-origin: 0% 0%;
	animation: rotateFall 1.5s both ease-in;
}
.page-capeverd.ng-enter 		{ 
    -webkit-animation:scaleUp 1.5s both ease-in;
	-moz-animation:scaleUp 1.5s both ease-in;
	animation:scaleUp 1.5s both ease-in;   
}

.page-riodejaneiro.ng-leave      {
    -webkit-transform-origin: 0% 0%;
	-webkit-animation: rotateFall 1.5s both ease-in;
	-moz-transform-origin: 0% 0%;
	-moz-animation: rotateFall 1.5s both ease-in;
	transform-origin: 0% 0%;
	animation: rotateFall 1.5s both ease-in;
}
.page-riodejaneiro.ng-enter 		{ 
    -webkit-animation:scaleUp 1.5s both ease-in;
	-moz-animation:scaleUp 1.5s both ease-in;
	animation:scaleUp 1.5s both ease-in;   
}

.page-peru.ng-leave        {
    -webkit-transform-origin: 0% 0%;
	-webkit-animation: rotateFall 1.5s both ease-in;
	-moz-transform-origin: 0% 0%;
	-moz-animation: rotateFall 1.5s both ease-in;
	transform-origin: 0% 0%;
	animation: rotateFall 1.5s both ease-in;
}
.page-peru.ng-enter 		{  
    -webkit-animation:scaleUp 1.5s both ease-in;
	-moz-animation:scaleUp 1.5s both ease-in;
	animation:scaleUp 1.5s both ease-in;     
}

.page-sc.ng-leave      {
    -webkit-transform-origin: 0% 0%;
	-webkit-animation: rotateFall 1.5s both ease-in;
	-moz-transform-origin: 0% 0%;
	-moz-animation: rotateFall 1.5s both ease-in;
	transform-origin: 0% 0%;
	animation: rotateFall 1.5s both ease-in;
}
.page-sc.ng-enter 		{ 
    -webkit-animation:scaleUp 1.5s both ease-in;
	-moz-animation:scaleUp 1.5s both ease-in;
	animation:scaleUp 1.5s both ease-in;   
}

.page-maldonado.ng-leave      {
    -webkit-transform-origin: 0% 0%;
	-webkit-animation: rotateFall 1.5s both ease-in;
	-moz-transform-origin: 0% 0%;
	-moz-animation: rotateFall 1.5s both ease-in;
	transform-origin: 0% 0%;
	animation: rotateFall 1.5s both ease-in;
}
.page-maldonado.ng-enter 		{ 
    -webkit-animation:scaleUp 1.5s both ease-in;
	-moz-animation:scaleUp 1.5s both ease-in;
	animation:scaleUp 1.5s both ease-in;   
}

.page-rionegro.ng-leave      {
    -webkit-transform-origin: 0% 0%;
	-webkit-animation: rotateFall 1.5s both ease-in;
	-moz-transform-origin: 0% 0%;
	-moz-animation: rotateFall 1.5s both ease-in;
	transform-origin: 0% 0%;
	animation: rotateFall 1.5s both ease-in;
}
.page-rionegro.ng-enter 		{ 
    -webkit-animation:scaleUp 1.5s both ease-in;
	-moz-animation:scaleUp 1.5s both ease-in;
	animation:scaleUp 1.5s both ease-in;   
}

.page-bandaoriental.ng-leave      {
    -webkit-transform-origin: 0% 0%;
	-webkit-animation: rotateFall 1.5s both ease-in;
	-moz-transform-origin: 0% 0%;
	-moz-animation: rotateFall 1.5s both ease-in;
	transform-origin: 0% 0%;
	animation: rotateFall 1.5s both ease-in;
}
.page-bandaoriental.ng-enter 		{ 
    -webkit-animation:scaleUp 1.5s both ease-in;
	-moz-animation:scaleUp 1.5s both ease-in;
	animation:scaleUp 1.5s both ease-in;   
}


.page-buenosayres.ng-leave      {
    -webkit-transform-origin: 0% 0%;
	-webkit-animation: rotateFall 1.5s both ease-in;
	-moz-transform-origin: 0% 0%;
	-moz-animation: rotateFall 1.5s both ease-in;
	transform-origin: 0% 0%;
	animation: rotateFall 1.5s both ease-in;
}
.page-buenosayres.ng-enter 		{ 
    -webkit-animation:scaleUp 1.5s both ease-in;
	-moz-animation:scaleUp 1.5s both ease-in;
	animation:scaleUp 1.5s both ease-in;   
}

.page-santacruz.ng-leave      {
    -webkit-transform-origin: 0% 0%;
	-webkit-animation: rotateFall 1.5s both ease-in;
	-moz-transform-origin: 0% 0%;
	-moz-animation: rotateFall 1.5s both ease-in;
	transform-origin: 0% 0%;
	animation: rotateFall 1.5s both ease-in;
}
.page-santacruz.ng-enter 		{ 
    -webkit-animation:scaleUp 1.5s both ease-in;
	-moz-animation:scaleUp 1.5s both ease-in;
	animation:scaleUp 1.5s both ease-in;   
}

/* rotate and fall */
@-webkit-keyframes rotateFall {
	0% { -webkit-transform: rotateZ(0deg); }
	20% { -webkit-transform: rotateZ(10deg); -webkit-animation-timing-function: ease-out; }
	40% { -webkit-transform: rotateZ(17deg); }
	60% { -webkit-transform: rotateZ(16deg); }
	100% { -webkit-transform: translateY(100%) rotateZ(17deg); }
}
@-moz-keyframes rotateFall {
	0% { -moz-transform: rotateZ(0deg); }
	20% { -moz-transform: rotateZ(10deg); -moz-animation-timing-function: ease-out; }
	40% { -moz-transform: rotateZ(17deg); }
	60% { -moz-transform: rotateZ(16deg); }
	100% { -moz-transform: translateY(100%) rotateZ(17deg); }
}
@keyframes rotateFall {
	0% { transform: rotateZ(0deg); }
	20% { transform: rotateZ(10deg); animation-timing-function: ease-out; }
	40% { transform: rotateZ(17deg); }
	60% { transform: rotateZ(16deg); }
	100% { transform: translateY(100%) rotateZ(17deg); }
}

/* scale up */
@keyframes scaleUp {
	from 		{ opacity: 0.3; transform: scale(0.8); }
}
@-moz-keyframes scaleUp {
	from 		{ opacity: 0.3; -moz-transform: scale(0.8); }
}
@-webkit-keyframes scaleUp {
	from 		{ opacity: 0.3; -webkit-transform: scale(0.8); }
}


.tooltip{
    display: inline;
    position: relative;
}
/*
.tooltip:after {
	-webkit-transition: all 1s ease-in-out;
	-moz-transition: all 1s ease-in-out;
	-o-transition: all 1s ease-in-out;
	transition: all 1s ease-in-out;
}

.tooltip:hover:after{
    background: $dark-grey;
    border-radius: 5px;
    bottom: 25px;
    color: #fff;
    content: attr(title);
    left: 22%;
    padding: 15px;
    position: absolute;
    z-index: 98;
    width: 107px;
    text-align: center;
    box-shadow: 0px 4px $light-grey;
}
*/

a.tooltips {
  position: relative;
  display: inline;
}
a.tooltips span {
  position: absolute;
  width:300px;
  color: #FFFFFF;
  background: #000000;
  height: 30px;
  line-height: 30px;
  text-align: center;
  visibility: hidden;
  border-radius: 4px;
}
a.tooltips span:after {
  content: '';
  position: absolute;
  bottom: 100%;
  left: 25%;
  margin-left: -8px;
  width: 0; height: 0;
  border-bottom: 8px solid #000000;
  border-right: 8px solid transparent;
  border-left: 8px solid transparent;
}
a:hover.tooltips span {
  visibility: visible;
  opacity: 0.7;
  top: 30px;
  left: 50%;
  margin-left: -76px;
  z-index: 999;
}

.title-head{
	@include clearfix();
}

/*********** modal **********/



.start-img{
	@include make-md-column-offset(1);
	@include make-md-column(3);
	img{
		@include img-responsive();
	}
}
.start-img-right{
	
	@include make-md-column(3);
	img{
		@include img-responsive();
	}
}

.start-text{
	@include make-md-column(7);
	background-color: #373737;
			position: relative;
			border-radius: 7px;
			padding: 25px 30px;
			font-family: "IM Fell English";
	color: #fff;
	h1{
		margin: 0;
	}

}
.start-text-right{
	@include make-md-column-offset(1);
	@include make-md-column(7);
	background-color: #373737;
			position: relative;
			border-radius: 7px;
			padding: 25px 30px;
			font-family: "IM Fell English";
	color: #fff;
	h1{
		margin: 0;
	}

}


.start-blurb{
	margin-bottom: 25px;
}

.start-blurb-right{
	margin-bottom: 25px;
	float: right;
}


































