body { 
  //background: url(../images/background.svg) no-repeat center center fixed;
  //background: url(https://ununsplash.imgix.net/photo-1416431168657-a6c4184348ab?q=75&fm=jpg&s=20ba248730c200af0d30c9ba81854867) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.container{
	
	@include container-fixed();
}

.banner{
	background: url(../images/banner.png) no-repeat;
	padding: 70px;
	margin-top: 30px;
}

section{
	@include clearfix();
}

#tubular-container {
	z-index: -99 !important;
}
.voyage_content {
	display: block;
	width: 86.1%;
	margin: 0px auto;
	color: #fff;
	background: rgba(33,33,33,.9);
	float: right;
	padding: 20px 35px;
	height: 100%;
	min-height: 500px;
}
