$main-font: "IM Fell English";
$dark-grey: #373737;
$light-grey: #585455;
$green: #71b4a2;
$red: #885e6c;

html {
	height: 100%;
}
.page { 
	//bottom:0; 
	position:absolute; 
	top:0;  
	width:100%; 
	height: 100%;
	//z-index: -1;
}


body { 
  //background: url(../images/background.svg) no-repeat center center fixed;
  //background: url(https://ununsplash.imgix.net/photo-1416431168657-a6c4184348ab?q=75&fm=jpg&s=20ba248730c200af0d30c9ba81854867) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

a {
	color: #fff;
}

.homecontainer{
	@include container-fixed();
	margin-top: 15px;

	.badge_container {
		width: 100%;
		height: auto;
		margin: 0px auto;
		background: rgba(33,33,33,.9);
		text-align: center;
		height: 350px;
		border-radius: 20px;
		padding: 40px;
		div {
			font-family: 'IM Fell English', serif;
			color: #fff;
			display: block;
			img {
				max-width: 150px;
			}
			width: 33%;
			float: left;
			margin: 0px auto;
			display: block;
		}
	}
	.start_container {
		border-radius: 4px;
		background-color: rgba(33, 33, 33, 0.9);
		text-align: center;
		font-family: "IM Fell English";
		padding: 28px 55px;
		margin-bottom: 5px;
		box-shadow: inset 0 0 0 8px rgba(33, 33, 33, 0.9), inset 0 0 0 11px gray;
		h1 {
			font-size: 2.7em;
			color: #fff;
			line-height: 8px;
		}
		p {
			color: #fff;
		}
		a {
			font-size: 2.5em;
			padding: 0px 80px;
			background-image: radial-gradient(50% 154%, #017B98 51%, #3d7da0 100%);
			box-shadow: 0px 3px 0px 0px #1C1C1C;
			border-radius: 8px;
		}
	}
}

.card-container{
	@include make-md-column(3);
	padding: 15px;
	.card{
		padding: 30px 7px;
		opacity: 0.89;
		background: #F4F4F4;
		box-shadow: 0px 2px 7px 0px rgba(0,0,0,0.50);
		border-radius: 10px;
		text-align: center;
		h3{
			font-family: "IM Fell English";
			font-size: 1.4em;
			margin-top: 12px;
			margin-bottom: 0;
		}
		p{
			font-size: 0.8em;
			padding: 0 10px;
			text-align: left;
			margin-bottom: 1.8em;
		}
		a{
			background: #1EAD71;
			box-shadow: 0px 3px 0px 0px #1C1C1C;
			border-radius: 8px;
			padding: 10px 20px;
			h4{
				display: inline;
				margin: 0;
				font-size: 17px;
				color: #FFFFFF;
				line-height: 21px;
				text-shadow: 0px 2px 0px rgba(0,0,0,0.50);
			}
		}
	}


}
.banner{
	background: #373737;
	padding: 15px;
	box-shadow: inset 0 0 0 6px rgba(33, 33, 33, 0.9), inset 0 0 0 9px rgb(240, 240, 240), inset 0 0 0 13px rgba(33, 33, 33, 0.9), inset 0 0 0 14px white;
	width: 50%;
	text-align: center;
	color: #fff;
	font-family: 'Josefin Slab', serif;
	margin-bottom: 20px;
	@include clearfix();
	h3{
		.lg-title{
			font-size: 1.4em;
		}
	}
	/*background: url(../images/banner.png) no-repeat;
	padding: 70px;
	margin-bottom: 20px;
	color: #1B1B1B;*/
}


/*.banner {
	font-family: 'IM Fell English', serif;
	top: 0;
	background-color: #373737;
	height: 85px;
	display: block;
	position: relative;
	border: 3px solid #fff;
	z-index: 2;
	max-width: 700px;
	padding: 0px 10px;
	h1 {
		color: #fff;
		text-align: center;
	}
}
*/

section{
	@include clearfix();
}

#tubular-container {
	z-index: -99 !important;
}
#tubular-shield {
	z-index: -99 !important;
}
.voyage_content {
	font-family: 'IM Fell English', serif;
	display: block;
	width: 100%;
	margin: 0px auto;
	color: #fff;
	background: rgba(33,33,33,.9);
	float: right;
	padding: 20px 35px;
	height: 50%;
	margin-top: 220px;
}

* {
  @include box-sizing(border-box);
}
*:before,
*:after {
  @include box-sizing(border-box);
}

//interior
nav.timeline {
	margin: 0px auto;
	width: 1150px;
	padding-top: 90px;
	ul {
		.activelink {
			a {
				background-color: $green;
			}
		}
		.activepage {
			font-family: $main-font;
			display: inline-block;
			min-width: 90px;
			max-width: 90px;
			border-radius: 120px;
			min-height: 90px;
			max-height: 90px;
			padding: 20px 10px;
			position: relative;
			font-size: 1.1em;
			text-align: center;
			bottom: 30px;
			background-color: $light-grey;
			border: 4px solid #fff;
			color: #fff;
			text-transform: capitalize;
		}
		list-style-type: none;
		a {
			width: 25px;
			height: 25px;
			background-color: $red;
			border-radius: 100px;
			display: block;
			margin-right: 20px;
			border: 4px solid #fff;
			float: left;
			&:hover {
				background-color: $green;
			}
		}
	}
}

@media only screen and (max-width: 648px) {
	.banner {
		height: 55px;
		max-width: 700px;
		h1 {
			font-size: 1.2em;
		}
	}
}

.page-home 		{ /*background video*/ }
.page-peru 	{ 
	background: url('../images/capeverdbg.jpg') no-repeat center center fixed; 
	background-size: cover;
	min-width: 100%;
  	min-height: 100%;
  	overflow: auto;
  	z-index: 1; 
 }
.page-sc {
	background: url('../images/capeverdbg.jpg') no-repeat center center fixed; 
	background-size: cover;
	min-width: 100%;
  	min-height: 100%;
  	overflow: auto;
  	z-index: 1;
}
.page-capeverd  { 
	background: url('../images/capeverdbg.jpg') no-repeat center center fixed; 
	background-size: cover;
	min-width: 100%;
  	min-height: 100%;
  	overflow: auto;
  	z-index: 1;
}
.page-australia {
	background: url('../images/capeverdbg.jpg') no-repeat center center fixed; 
	background-size: cover;
	min-width: 100%;
  	min-height: 100%;
  	overflow: auto;
  	z-index: 1;
}
.page-bahiablanca {
	background: url('../images/capeverdbg.jpg') no-repeat center center fixed; 
	background-size: cover;
	min-width: 100%;
  	min-height: 100%;
  	overflow: auto;
  	z-index: 1;
}
.page-bandaoriental {
	background: url('../images/capeverdbg.jpg') no-repeat center center fixed; 
	background-size: cover;
	min-width: 100%;
  	min-height: 100%;
  	overflow: auto;
  	z-index: 1;
}
.page-buenosayres {
	background: url('../images/capeverdbg.jpg') no-repeat center center fixed; 
	background-size: cover;
	min-width: 100%;
  	min-height: 100%;
  	overflow: auto;
  	z-index: 1;
}
.page-chile {
	background: url('../images/capeverdbg.jpg') no-repeat center center fixed; 
	background-size: cover;
	min-width: 100%;
  	min-height: 100%;
  	overflow: auto;
  	z-index: 1;
}
.page-chiloe {
	background: url('../images/capeverdbg.jpg') no-repeat center center fixed; 
	background-size: cover;
	min-width: 100%;
  	min-height: 100%;
  	overflow: auto;
  	z-index: 1;
}
.page-concepcion {
	background: url('../images/capeverdbg.jpg') no-repeat center center fixed; 
	background-size: cover;
	min-width: 100%;
  	min-height: 100%;
  	overflow: auto;
  	z-index: 1;
}
.page-coral {
	background: url('../images/capeverdbg.jpg') no-repeat center center fixed; 
	background-size: cover;
	min-width: 100%;
  	min-height: 100%;
  	overflow: auto;
  	z-index: 1;
}
.page-cordillera {
	background: url('../images/capeverdbg.jpg') no-repeat center center fixed; 
	background-size: cover;
	min-width: 100%;
  	min-height: 100%;
  	overflow: auto;
  	z-index: 1;
}
.page-falklandislands {
	background: url('../images/capeverdbg.jpg') no-repeat center center fixed; 
	background-size: cover;
	min-width: 100%;
  	min-height: 100%;
  	overflow: auto;
  	z-index: 1;
}
.page-galapagos {
	background: url('../images/capeverdbg.jpg') no-repeat center center fixed; 
	background-size: cover;
	min-width: 100%;
  	min-height: 100%;
  	overflow: auto;
  	z-index: 1;
}
.page-maldonado {
	background: url('../images/capeverdbg.jpg') no-repeat center center fixed; 
	background-size: cover;
	min-width: 100%;
  	min-height: 100%;
  	overflow: auto;
  	z-index: 1;
}
.page-mauritius {
	background: url('../images/capeverdbg.jpg') no-repeat center center fixed; 
	background-size: cover;
	min-width: 100%;
  	min-height: 100%;
  	overflow: auto;
  	z-index: 1;
}
.page-patagonia {
	background: url('../images/capeverdbg.jpg') no-repeat center center fixed; 
	background-size: cover;
	min-width: 100%;
  	min-height: 100%;
  	overflow: auto;
  	z-index: 1;
}
.page-rionegro {
	background: url('../images/capeverdbg.jpg') no-repeat center center fixed; 
	background-size: cover;
	min-width: 100%;
  	min-height: 100%;
  	overflow: auto;
  	z-index: 1;
}
.page-santacruz {
	background: url('../images/capeverdbg.jpg') no-repeat center center fixed; 
	background-size: cover;
	min-width: 100%;
  	min-height: 100%;
  	overflow: auto;
  	z-index: 1;
}
.page-straitofmagellan {
	background: url('../images/capeverdbg.jpg') no-repeat center center fixed; 
	background-size: cover;
	min-width: 100%;
  	min-height: 100%;
  	overflow: auto;
  	z-index: 1;
}
.page-tahiti {
	background: url('../images/capeverdbg.jpg') no-repeat center center fixed; 
	background-size: cover;
	min-width: 100%;
  	min-height: 100%;
  	overflow: auto;
  	z-index: 1;
}
.page-tierradelfuego {
	background: url('../images/capeverdbg.jpg') no-repeat center center fixed; 
	background-size: cover;
	min-width: 100%;
  	min-height: 100%;
  	overflow: auto;
  	z-index: 1;
}



img.white-circle {
	border-radius: 50%;
	max-width: 120px;
	display: inline-block;
	border: 4px solid #fff;
}

img.grey-circle {
	border-radius: 50%;
	border: 6px solid grey;
	max-width: 150px;
	display: inline-block;
	min-width: 150px;
}

.container_int_1 {
	width: 1150px;
	margin: 0px auto;
	position: relative;
	bottom: 20px;
	p {
		line-height: 25px;
	}
	.left_1 {
		width: 40%;
		float: left;
	}

	.right_1 {
		width: 60%;
		float: right;
		position: relative;
		bottom: 10px;
		.quote_1 {
			display: block;
			background-color: $red;
			padding: 30px 40px;
			border-radius: 20px;
			margin-bottom: 30px;
			p {
				font-size: 1.3em;
				color: #fff;
				margin: 0px auto;
				max-width: 500px;
			}
		}
		.passage_1 {
			img.grey-circle {
				float: left;
				width: 25%;
				position: relative;
				right: 15px;
			}
			p {
				float: right;
				width: 75%;
				background: $light-grey;
				border-radius: 20px;
				padding: 25px;
			}
		}
	}

	padding: 0 40px;
	font-family: $main-font;
	color: #fff;
	.titlecard {
		max-width: 390px;
		min-height: 350px;
		background-color: $dark-grey;
		position: relative;
		border: 3px solid #fff;
		bottom: 40px;
		padding: 0 15px;
		h1 {
			max-width: 180px;
			text-align: center;
			display: inline-block;
			position: relative;
			margin-left: 30px;
			top: 20px;
		}
		hr {
			margin: 18px 0;
		}
	}
}

.container_int_2 {
	width: 1150px;
	margin: 0px auto;
	position: relative;
	bottom: 20px;
	padding: 0 40px;
	font-family: "IM Fell English";
	color: #fff;
	p {
		line-height: 25px;
	}
	.left_2 {
		width: 55%;
		clear: both;
		p {
			background-color: #373737;
			position: relative;
			border-radius: 30px;
			padding: 30px 20px;
		}
	}
	.right_2 {
		float: right;
		width: 45%;
		position: relative;
		bottom: 175px;
		img.grey-circle {
			margin: 0 0px 0px 35px;
		}
	}
}

footer.int_footer {
	background-color: #272727;
	color: #fff;
	margin: 0px auto;
	font-family: "IM Fell English";
	width: 1150px;
	padding: 25px 40px 5px 40px;
	p {
		line-height: 25px;
	}
	img {
		border-radius: 50%;
		border: 4px solid #fff;
		max-width: 110px;
		display: inline-block;
		position: relative;
		margin-right: 20px;
		bottom: 50px;
	}
	.fact {
		display: inline-block;
		h5 {
			font-size: 1.3rem;
			margin: 0;
		}
		p {
			max-width: 450px;
		}
	}
	.nextup {
		float: right;
		position: relative;
		bottom: 200px;
		right: 270px;
		h5 {
			font-size: 1.9rem;
			padding: 0;
		}
		a {
			background-color: #1daf71;
			border-radius: 5px;
			font-size: 1.5rem;
			position: relative;
			font-weight: bold;
			display: inline-block;
			padding: 5px 15px;
			bottom: 90px;
			left: 225px;
		}
	}
}



/* ANIMATIONS
============================================================================= */

.page.ng-leave 	{ z-index:9999; }
.page.ng-enter 	{ z-index:8888; }

/* page specific animations ------------------------ */

.page-home.ng-leave         {
    -webkit-transform-origin: 0% 0%;
	-webkit-animation: rotateFall 1.5s both ease-in;
	-moz-transform-origin: 0% 0%;
	-moz-animation: rotateFall 1.5s both ease-in;
	transform-origin: 0% 0%;
	animation: rotateFall 1.5s both ease-in;
}
.page-home.ng-enter 		{  
    -webkit-animation:scaleUp 1.5s both ease-in;
	-moz-animation:scaleUp 1.5s both ease-in;
	animation:scaleUp 1.5s both ease-in;    
}

.page-capeverde.ng-leave      {
    -webkit-transform-origin: 0% 0%;
	-webkit-animation: rotateFall 1.5s both ease-in;
	-moz-transform-origin: 0% 0%;
	-moz-animation: rotateFall 1.5s both ease-in;
	transform-origin: 0% 0%;
	animation: rotateFall 1.5s both ease-in;
}
.page-capeverde.ng-enter 		{ 
    -webkit-animation:scaleUp 1.5s both ease-in;
	-moz-animation:scaleUp 1.5s both ease-in;
	animation:scaleUp 1.5s both ease-in;   
}

.page-peru.ng-leave        {
    -webkit-transform-origin: 0% 0%;
	-webkit-animation: rotateFall 1.5s both ease-in;
	-moz-transform-origin: 0% 0%;
	-moz-animation: rotateFall 1.5s both ease-in;
	transform-origin: 0% 0%;
	animation: rotateFall 1.5s both ease-in;
}
.page-peru.ng-enter 		{  
    -webkit-animation:scaleUp 1.5s both ease-in;
	-moz-animation:scaleUp 1.5s both ease-in;
	animation:scaleUp 1.5s both ease-in;     
}

.page-sc.ng-leave      {
    -webkit-transform-origin: 0% 0%;
	-webkit-animation: rotateFall 1.5s both ease-in;
	-moz-transform-origin: 0% 0%;
	-moz-animation: rotateFall 1.5s both ease-in;
	transform-origin: 0% 0%;
	animation: rotateFall 1.5s both ease-in;
}
.page-sc.ng-enter 		{ 
    -webkit-animation:scaleUp 1.5s both ease-in;
	-moz-animation:scaleUp 1.5s both ease-in;
	animation:scaleUp 1.5s both ease-in;   
}

/* rotate and fall */
@-webkit-keyframes rotateFall {
	0% { -webkit-transform: rotateZ(0deg); }
	20% { -webkit-transform: rotateZ(10deg); -webkit-animation-timing-function: ease-out; }
	40% { -webkit-transform: rotateZ(17deg); }
	60% { -webkit-transform: rotateZ(16deg); }
	100% { -webkit-transform: translateY(100%) rotateZ(17deg); }
}
@-moz-keyframes rotateFall {
	0% { -moz-transform: rotateZ(0deg); }
	20% { -moz-transform: rotateZ(10deg); -moz-animation-timing-function: ease-out; }
	40% { -moz-transform: rotateZ(17deg); }
	60% { -moz-transform: rotateZ(16deg); }
	100% { -moz-transform: translateY(100%) rotateZ(17deg); }
}
@keyframes rotateFall {
	0% { transform: rotateZ(0deg); }
	20% { transform: rotateZ(10deg); animation-timing-function: ease-out; }
	40% { transform: rotateZ(17deg); }
	60% { transform: rotateZ(16deg); }
	100% { transform: translateY(100%) rotateZ(17deg); }
}

/* scale up */
@keyframes scaleUp {
	from 		{ opacity: 0.3; transform: scale(0.8); }
}
@-moz-keyframes scaleUp {
	from 		{ opacity: 0.3; -moz-transform: scale(0.8); }
}
@-webkit-keyframes scaleUp {
	from 		{ opacity: 0.3; -webkit-transform: scale(0.8); }
}

/**************** LEAN MODAL *****************/

/**
 * PgwModal - Version 2.0
 *
 * Copyright 2014, Jonathan M. Piat
 * http://pgwjs.com - http://pagawa.com
 *
 * Released under the GNU GPLv3 license - http://opensource.org/licenses/gpl-3.0
 */
body.pgwModalOpen {
    overflow: hidden;
}

#pgwModalBackdrop {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9000;
}

#pgwModal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index : 9010;
    overflow-x: auto;
    overflow-y: scroll;
    text-align: center;
}

#pgwModal .pm-container {
    margin: 10px;
}

#pgwModal .pm-body {
    display: inline-block;
    max-width: 800px;
    min-width: 300px;
    position: relative;
    width: 100%;
    z-index: 9020;
    margin-top: 10px;
}

/**
 * NOTICE:
 * If you want to update the modal rendering, please only edit the content below.
 * And if you update a class name, remember to specify it in the plugin configuration.
 * Please don't change the class names prefixed by "pm-".
 */

.pgwModalBackdrop {
    background: #000;
    opacity: 0.6;
    filter: alpha(opacity=60);
}

.pgwModal .pm-body {
    background-color: #fff;
    border-radius: 5px;
    -webkit-box-shadow: 0 0px 5px 5px #555;
    box-shadow: 0 0px 5px 5px #555;
}

.pgwModal .pm-title {
    background: #e5e5e5;
    padding: 5px 0 6px;
    border-bottom: 1px solid #d5d5d5;
    border-radius: 5px 5px 0 0;
    font-size: 1rem;
    min-height: 25px;
}

.pgwModal .pm-content {
    background: #fff;
    padding: 10px;
    border-radius: 5px;
    text-align: left;
}

.pgwModal .pm-close {
    cursor: pointer;
    position: absolute;
    top: 9px;
    right: 15px;
}

.pgwModal .pm-close span.pm-icon {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAABGdBTUEAALGPC/xhBQAAAAlwSFlzAAAOwQAADsEBuJFr7QAAABp0RVh0U29mdHdhcmUAUGFpbnQuTkVUIHYzLjUuMTFH80I3AAABIklEQVQ4T62T20oDQRBE+9EIGo1/H4gEQd8E74lJvKHiV+mmai7QNdu+ZFNwWKqmpzJhdq3rur0ShkMIwyGoMTsEl+AenDDw62WGmoAFOAcjWRdjdgX+Ck9gDPw6xbIN4MwvmEmHmFzCQRo+H0E6aRHL1sDP3EiHmLx5WQbrBv4Ic3+yuvYAxtIhJusUtKUf4LvJUhnQDm9SkNWe1MPsDhyD/v42SGEWT/oFfBl5BWFZ2huGWWfgB/gy8g7CVyrt7QVZLHsB//1lvoNhqZqstozPN/DZZPX2tUNMXFYvILr9dFLpEGO2KoNtWRVLezPSIcbsogyRWyC3WcTSZ8AZfnpT6RCDDx3MwTU4YuDXywzFUn6WU3Ag697sgzAcQhjuTmdbpLYNJt1Fr50AAAAASUVORK5CYII=);
    display: block;
    height: 20px;
    width: 20px;
}


