$textcolor: #fff;


.navigation{
	width: 23%;
	height: 100%;
	background-color: #212121;
	padding: 20px;
}

.logo{
		
		
}

.items-list {
    @include make-row();     
    .item {
		@include make-xs-column(12);
        @include make-sm-column(6);
        @include make-md-column(4);
    }       
}

a {
  text-decoration: none;
  &:hover {
	text-decoration: none;
  }
  &:focus {
  	text-decoration: none;
  	outline: none;
  	border: none;
  }
}

body {
  background: #f3f3f3;
  font-size: 100%;
	font-family: 'Open Sans', sans-serif;
}

.slide-nav {
	border: none;
	border-radius: 3px;
	color: #fff;
	z-index: 100;
	right: 0;
	height: 100%;
	top: 0;
	margin: 0px -110px;
	position: fixed;
	background: rgba(31, 31, 17, 0.5);
	padding: 0;
	overflow-x: hidden;
	overflow-y: scroll;
	ul{
		margin: 0;
		padding: 0;
	}
	li{
		list-style: none;
	}
	li:hover{
		background-color: #282828;
	}
	a {
		font-family: 'IM Fell English', serif;
		display: block;
		color: #fff;
		padding: 45px 25px;
		margin: 0px 0px;
		font-weight: 700;
		max-width: 130px;
		text-align: center;
	}
	img {
		width: 100px;
		height: 100px;
	}
}

.drawer{
	position: fixed;
	float:left;
	background-color: #FF7171;
	height: 100%;
	width: 15px;
}