---
title: Charles Darwin Voyage of the HMS Beagle
---

<nav>
  <ul class="slide-nav">
    <li><a ng-href="#peru">Peru</a></li>
    <li><a ng-href="#riodejaneiro">Rio de Janeiro</a></li>
    <li><a ng-href="#santacruz">Santacruz</a></li>
    <li><a ng-href="#straitofmagellan">Strait of Magellan</a></li>
    <li><a ng-href="#tahitinewzealand">Tahiti &amp; New Zealand</a></li>
    <li><a ng-href="#tierradelfuego">Tierra Del Fuego</a></li>
  </ul>
</nav>

